<h2>Welcome to Oasis App!</h2><br>
<h3>What would you like to do? </h3><br><br>
<%= link_to "Enter new plant", plants_new_path %><br><br>
<%#=  This will be a nested route plants/user/:id? %>
<%#= link_to "View all the plants belongs to #{current_user.name}" %>
<%= link_to "View all the plants", plants_path %>